@each $variant in $border-variants {
    @each $side-short, $side-full in $sides {
        .border-#{$side-short}-#{$variant} {
            border-#{$side-full}-width: $variant * 1px;
            border-style: solid;
        }
    }

    .border-#{$variant} {
        border-width: $variant * 1px;
        border-style: solid;
    }

    .outline-#{$variant} {
        outline-width: $variant * 1px;
        outline-style: solid;
    }

    .ring-#{$variant} {
        box-shadow: 0 0 0 $variant * 1px;

        &.ring-inset {
            box-shadow: inset 0 0 0 $variant * 1px;
        }
    }
}

@each $size-short, $size-value in $sizes {
    .rounded-#{$size-short} {
        border-radius: $size-value;
    }

    @each $corner-short, $corner-full in $corners {
        .rounded-#{$corner-short}-#{$size-short} {
            border-#{$corner-full}-radius: $size-value;
        }
    }
}
