@use 'utils';

@function compute-color($base-color, $variant) {
    @return adjust-color($base-color, $lightness: 50 - $variant * 1%);
}

@each $color-name, $color-value in $colors {

    @include utils.enhance('text-black', $pseudoclasses, $screens) {
        color: #000000;
    }

    @include utils.enhance('text-white', $pseudoclasses, $screens) {
        color: #ffffff;
    }

    @include utils.enhance('bg-black', $pseudoclasses, $screens) {
        background-color: #000000;
    }

    @include utils.enhance('bg-white', $pseudoclasses, $screens) {
        background-color: #ffffff;
    }

    @each $variant in $color-variants {
        $suffix: #{$color-name}-#{$variant};

        @include utils.enhance('text-#{$suffix}', $pseudoclasses, $screens) {
            color: compute-color($color-value, $variant)
        }

        @include utils.enhance('bg-#{$suffix}', $pseudoclasses, $screens) {
            background-color: compute-color($color-value, $variant)
        }

        @include utils.enhance('border-#{$suffix}', $pseudoclasses, $screens) {
            border-color: compute-color($color-value, $variant)
        }

        @include utils.enhance('outline-#{$suffix}', $pseudoclasses, $screens) {
            outline-color: compute-color($color-value, $variant)
        }
    }
}
