.container {
    width: 100%;

    @each $breakpoint in map-values($screens) {
        @media (min-width: $breakpoint) {
            max-width: $breakpoint;
        }
    }
}

@each $screen, $breakpoint in $screens {
    .container-#{$screen} {
        max-width: $breakpoint;
    }
}
