@use 'utils';

.hidden {
    display: none;
}

@each $display-property in (block, inline-block, grid, flex) {
    @include utils.enhance($display-property, $pseudoclasses, $screens) {
        display: $display-property;
    }
}
