@use 'utils';

// Flex containers
// see ./display.scss

@include utils.enhance('flex-row', $pseudoclasses, $screens) {
    display: flex;
    flex-direction: row;
}
@include utils.enhance('flex-column', $pseudoclasses, $screens) {
    display: flex;
    flex-direction: column;
}
@include utils.enhance('flex-row-reverse', $pseudoclasses, $screens) {
    display: flex;
    flex-direction: row-reverse;
}
@include utils.enhance('flex-column-reverse', $pseudoclasses, $screens) {
    display: flex;
    flex-direction: col-reverse;
}

@each $alignment in (flex-start flex-end center) {
    @include utils.enhance('justify-#{$alignment}', $pseudoclasses, $screens) {
        justify-content: $alignment;
    }

    @include utils.enhance('items-#{$alignment}', $pseudoclasses, $screens) {
        align-items: $alignment;
    }
    @include utils.enhance('justify-self-#{$alignment}', $pseudoclasses, $screens) {
        justify-self: $alignment;
    }
    @include utils.enhance('align-self-#{$alignment}', $pseudoclasses, $screens) {
        align-self: $alignment;
    }
}



// Flex elements:

@include utils.enhance('flex-1', $pseudoclasses, $screens) {
    flex: 1 1 0%;
}

@include utils.enhance('flex-full', $pseudoclasses, $screens) {
    flex: 1 1 100%;
}

@include utils.enhance('flex-wrap', $pseudoclasses, $screens) {
    flex-wrap: wrap;
}
