@each $font-weight in $font-weights {
    .font-#{$font-weight} {
        font-weight: $font-weight;
    }
}

@each $name, $value in $line-heights {
    .leading-#{$name} {
        line-height: $value;
    }
}

.font-sans {
    font-family: sans-serif;
}

.font-serif {
    font-family: serif;
}

.font-mono {
    font-family: monospace;
}

.italic {
    font-style: italic;
}

.no-italic {
    font-style: normal;
}

.underlined {
    text-decoration: underline;
}

.no-underlined {
    text-decoration: none;
}
