@each $property-variant in (overflow, overflow-x, overflow-y) {
    @each $property-value in (visible, hidden, scroll, auto) {
        .#{$property-variant}-#{$property-value} {
            #{$property-variant}: $property-value;
        }
    }
}