@each $position in (static, relative, absolute, fixed) {
    .#{$position} {
        position: $position;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

@each $size in $size-variants {
    @each $side in (top left right bottom) {
        .#{$side}-#{$size} {
            #{$side}: $size * 1px;
        }
    }
}
