@each $size in $size-variants {
    .w-#{$size} {
        width: $size * 1px;
    }

    .min-w-#{$size} {
        min-width: $size * 1px;
    }

    .max-w-#{$size} {
        max-width: $size * 1px;
    }

    .h-#{$size} {
        height: $size * 1px;
    }

    .min-h-#{$size} {
        min-height: $size * 1px;
    }

    .max-h-#{$size} {
        max-height: $size * 1px;
    }

    .size-#{$size} {
        width: $size * 1px;
        height: $size * 1px;
    }

    .min-size-#{$size} {
        min-width: $size * 1px;
        min-height: $size * 1px;
    }

    .max-size-#{$size} {
        min-width: $size * 1px;
        min-height: $size * 1px;
    }
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}
