@each $short, $full in $sides {
    .m#{$short}-auto {
        margin-#{$full}: auto;
    }

    @each $variant in $spacing-variants {
        .p#{$short}-#{$variant} {
            padding-#{$full}: $variant * 0.125rem;
        }

        .m#{$short}-#{$variant} {
            margin-#{$full}: $variant * 0.125rem;
        }
    }
}

@each $variant in $spacing-variants {
    .px-#{$variant} {
        padding-left: $variant * 0.125rem;
        padding-right: $variant * 0.125rem;
    }
    .py-#{$variant} {
        padding-top: $variant * 0.125rem;
        padding-bottom: $variant * 0.125rem;
    }

    .p-#{$variant} {
        padding: $variant * 0.125rem;
    }

    .mx-#{$variant} {
        margin-left: $variant * 0.125rem;
        margin-right: $variant * 0.125rem;
    }
    .my-#{$variant} {
        margin-top: $variant * 0.125rem;
        margin-bottom: $variant * 0.125rem;
    }
    .m-#{$variant} {
        margin: $variant * 0.125rem;
    }
}

.mx-auto {
    @extend .ml-auto;
    @extend .mr-auto;
}

.my-auto {
    @extend .mt-auto;
    @extend .mb-auto;
}

.m-auto {
    margin: auto;
}
