// For text colors, please see ./colors.scss

@each $name, $value in $sizes {
    .text-#{$name} {
        font-size: $value;
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
} 