@mixin enhance($selector, $pseudoclasses, $screens) {

    // Generate enhanced classes
    @each $pseudoclass in $pseudoclasses {
        .#{$pseudoclass}\:#{$selector}:#{$pseudoclass} {
            @content;
        }
    }

    @each $screen-name, $breakpoint in $screens {
        @media (min-width: $breakpoint) {
            .responsive.#{$screen-name}\:#{$selector} {
                @content;
            }
        }
    }

    // Generate base class
    .#{$selector} {
        @content;
    }
}
