@use 'sass:math';
@use 'utils';


// customizable

$colors: (
    red: #ff0000,
    green: #00ff00,
    blue: #0000ff,
    gray: #888888,
) !default;

$color-variants: (
    10,
    20,
    30,
    40,
    50,
    60,
    70,
    80,
    90,
) !default;

$ratio: 1.618 !default; // golden ratio

$screens: (
    sm: 576px,
    md: 768px,
    lg: 992px,
) !default;

$sizes: (
    xs: math.div(1rem, ($ratio * $ratio)),
    sm: math.div(1rem, $ratio),
    md: 1rem,
    lg: 1rem * $ratio,
    xl: 1rem * $ratio * $ratio,
    2xl: 1rem * $ratio * $ratio * $ratio,
) !default;

$spacing-variants: (
    0,
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12
) !default;

$border-variants: (
    1,
    2,
    3,
    4,
    5,
    6,
) !default;

$font-weights: (
    100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900,
) !default;

$line-heights: (
    tightest: 1.25,
    tighter: 1.3,
    tight: 1.4,
    normal: 1.5,
    loose: 1.6,
    looser: 1.75,
    loosest: 1.9,
) !default;

$size-variants: (
    1,
    2,
    4,
    6,
    8,
    16,
    24,
    32,
    40,
    48,
    60,
    72,
    88,
    104,
    120,
    144,
    192,
    240,
    300,
    400,
    500,
    600,
    700,
    800,
    900,
    1000,
    1200,
    1400,
) !default;

$pseudoclasses: (
    'active',
    'focus',
    'hover',
    'visited',
) !default;


// constants

$sides: (
    /* shortcut: full */
    'l': 'left',
    'r': 'right',
    't': 'top',
    'b': 'bottom',
);

$corners: (
    tl: 'top-left',
    tr: 'top-right',
    bl: 'bottom-left',
    br: 'bottom-right',
);



@import
'./border.scss',
'./colors.scss',
'./container.scss',
'./display.scss',
'./flex.scss',
'./font.scss',
'./overflow.scss',
'./positioning.scss',
'./text.scss',
'./sizing.scss',
'./spacing.scss';

* {
    margin: 0;
    padding: 0;
    border: inherit;
    font: inherit;
    list-style: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@include utils.enhance('unseen', (), $screens) {
    position: fixed;
    top: -9999px;
    left: -9999px;
}
