<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="index.css"/>
    <title>HotHotHot</title>
</head>
<body class="font-sans">
    <main class="container-md mx-auto px-4 py-8">
    </main>

    <template id="header">
        <header class="bg-green-60 text-white">
            <nav class="container-md mx-auto p-3">
                <ul class="flex-row">
                    <li class="flex-1">
                        <a class="text-white" href="%PUBLIC_URL%/help">Help</a>
                    </li>
                    <li>
                        <a class="text-white" href="%PUBLIC_URL%/me">Username</a>
                    </li>
                </ul>
            </nav>

            <h1 class="container-md mx-auto p-3 text-xl">HotHotHot</h1>

            <nav class="container-md mx-auto px-3">
                <tabs role="list" class="flex-row">
                    <tab role="listitem" class="px-5 py-2">
                        <a class="no-underlined" href="%PUBLIC_URL%/">Dashboard</a>
                    </tab>
                    <tab role="listitem" class="px-5 py-2">
                        <a class="no-underlined" href="%PUBLIC_URL%/stats">Stats</a>
                    </tab>
                </tabs>
            </nav>
        </header>
    </template>
    
    <template id="sensor">
        <sensor role="article" class="mb-5 flex-row flex-wrap bg-blue-60 text-white p-6">
            <sensor-title class="block text-md flex-full" role="heading" arial-level="3">Interior temperature</sensor-title>
            <sensor-value class="block text-2xl mr-8" role="status" value="32">
                {{value}}
                <span role="img" aria-label="Temperature increased">&uarr;</span>
            </sensor-value>
            <aside>
                <sensor-history role="list" class="flex-row w-full h-full items-flex-end">
                    <li class="block w-6 h-24 mr-3 bg-white mb-8">
                        <data value="{{value}}"></data>
                    </li>
                </sensor-history>
            </aside>
        </sensor>
    </template>

    <template id="app-status">
        <app-status role="status" class="inline-block my-8 px-5 py-3 ring-1 min-w-144">
            <indicator role="complementary" aria-label="ok">&check;</indicator>
            <details>
                <summary class="font-700">Nothing to report</summary>
                <p class="mt-2"></p>
            </details>
        </app-status>
    </template>

    <script type="module" src="index.js"></script>
</body>
</html>
